<!DOCTYPE html>
<html>
<head>
  <title>DiscourseMountableSso</title>
  <%= stylesheet_link_tag    "discourse_mountable_sso/application", :media => "all" %>
  <%= javascript_include_tag "discourse_mountable_sso/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
